<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ETL Project - NHL Salary Cap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <img src="http://www-league.nhlstatic.com/images/logos/league-dark/133-flat.svg" width="150">
      <h1>NHL Salary Cap Summary</h1><br>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape NHL Data</a></p>
    </div>
  </div>
  
  
  <div class="container">
    <div class="text-center">
      <div class="col-md-12 mx-auto">
        <div class='row align-items-center'></div>
          <h1>Top 10 NHL teams by Salary Cap</h1>
          <br>
        </div>
      
        {% for int in data.int_list %}
      <div class='row align-items-center'>
        <div class="col-md-12 mx-auto">

          <div class="col-md-3 mx-auto">
            <img src="http://{{ data.img_list[int] }}" height="50">
          </div>  

          <div class="col-md-2 mx-auto">
            <div>{{ data.cap_team_list[int] }}</div>
          </div>

          <div class="col-md-2 mx-auto">
            <div>{{ data.cap_slrycp_list[int] }}</div>
          </div>

          <div class="col-md-2 mx-auto">
            <div>{{ data.cap_plyr_list[int] }}</div>
          </div>

          <div class="col-md-2 mx-auto">
            <div>{{ data.cap_slry_list[int] }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>



  <div class="container">
    <div class="text-center">
      <div class="col-md-12 mx-auto">
        <div class='row align-items-center'></div>
          <h1>More NHL Team details</h1>
          <br>
          <table>{{ data.teams|safe }}</table>
        </div>
      </div>

    </div>

</body>

</html>